# Import Libraries

In [1]:
# import libraries
import numpy as np
import pandas as pd

# Data Preprocessing

In [2]:
# Read book dataset and assign it to the variable b
b = pd.read_csv('books.csv')
print(b.shape)
b.head()

(2312, 5)

   book_id  avg_rating  no_of_ratings  user_id  user_rating
0     4833        4.25         7156.0     3466            0
1      590        4.31         7821.0     3466            5
2     4264        4.08         3836.0     3453            5
3     3361        3.52         1245.0     3453            4
4     4535        4.13         3107.0     3453            0

In [3]:
# There is no need for the columns "no_of_ratings" and "avg_rating"
# in our implementation therefore we drop these columns
# we assigned remain data to the variable ratings
ratings = b.drop(['no_of_ratings', 'avg_rating'], axis=1)

In [4]:
# Print first 5 rows from ratings dataset
ratings.head()

   book_id  user_id  user_rating
0     4833     3466            0
1      590     3466            5
2     4264     3453            5
3     3361     3453            4
4     4535     3453            0

In [5]:
# Print shape of ratings dataset
ratings.shape

(2312, 3)

In [6]:
# If there is no NaN value in any row then remove that row
ratings.dropna(inplace=True)

In [7]:
# Print shape of ratings dataset
ratings.shape

(2312, 3)

In [8]:
# We group rows by book_id column and remove the groups which has only one element
# We split using scikit-leanr's train_test_split function and set stratify property 
# of that function to book_id, therefore it isn't possible to split rows that is 
# unique by book id
ratings = ratings.groupby(['book_id']).filter(lambda x: len(x) > 1)

In [9]:
_# Prints number of unique books from ratings dataset 
len(ratings.book_id.unique())

657

In [10]:
# Prints number of unique users from ratings dataset 
len(ratings.user_id.unique())

190

In [11]:
# Check how many Null value he have in ratings dataset
ratings.isnull().sum()

book_id        0
user_id        0
user_rating    0
dtype: int64

In [12]:
# Print shape of ratings dataset
ratings.shape

(2259, 3)

In [13]:
# Drop duplicate rows from the dataset ratings
ratings.drop_duplicates(subset=['book_id', 'user_rating', 'user_id'], inplace=True)

In [14]:
ratings.shape

(2242, 3)

In [15]:
# Reset index for the dataset ratings
ratings.reset_index(inplace=True)

In [16]:
# Print first five rows from the dataset ratings
ratings.head()

   index  book_id  user_id  user_rating
0      0     4833     3466            0
1      1      590     3466            5
2      2     4264     3453            5
3      3     3361     3453            4
4      4     4535     3453            0

In [17]:
# Print shape of ratings dataset
ratings.shape

(2242, 4)

# Book Based Collaborative Filtering

In [18]:
#Import the train_test_split function
from sklearn.model_selection import train_test_split

In [19]:
#Assign X as the original ratings dataframe and y as the book_id column of ratings.
X = ratings.copy()
y = ratings['book_id']

In [20]:
#Split into training and test datasets, stratified along user_id
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.31, stratify=y, random_state=42)

In [21]:
#Import the mean_squared_error function
from sklearn.metrics import mean_squared_error

#Function that computes the root mean squared error (or RMSE)
def rmse(y_true, y_pred):
  return np.sqrt(mean_squared_error(y_true, y_pred))

In [22]:
#Function to compute the RMSE score obtained on the testing set by a model
def score(cf_model):
  #Construct a list of user-movie tuples from the testing dataset
  id_pairs = zip(X_test['user_id'], X_test['book_id'])
  #Predict the rating for every user-movie tuple
  y_pred = np.array([cf_model(user, book) for (user, book) in id_pairs])
  #Extract the actual ratings given by the users in the test data
  y_true = np.array(X_test['user_rating'])
  #Return the final RMSE score
  return rmse(y_true, y_pred)

In [23]:
#Build the ratings matrix using pivot_table function
r_matrix = X_train.pivot_table(values='user_rating', index='book_id', columns='user_id')

r_matrix.sample(20)

user_id  117   176   232   295   318   330   ...  3849  3913  3937  3973  7130  7131
book_id                                      ...
2560      NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN
3500      NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN
4332      NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN
3280      2.0   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN
3033      NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN
2616      NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN
686       NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN
4830      3.0   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN
3677      NaN   NaN   NaN   NaN   NaN   1.0  ...   NaN   NaN   NaN   NaN   NaN   NaN
3533      NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN
1580      NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN
3938      NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN
298       NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN
2133      NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN
4561      NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN
1733      NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN
969       NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN
2048      NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN
3333      NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN
3311      NaN   NaN   NaN   NaN   3.0   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN

[20 rows x 161 columns]

In [24]:
r_matrix.shape

(657, 161)

In [25]:
#Create a dummy ratings matrix with all null values imputed to 0
r_matrix_dummy = r_matrix.copy().fillna(0)

In [26]:
# Import cosine_score
from sklearn.metrics.pairwise import cosine_similarity

In [27]:
#Compute the cosine similarity matrix using the dummy ratings matrix
cosine_sim = cosine_similarity(r_matrix_dummy, r_matrix_dummy)

In [28]:
#Convert into pandas dataframe
cosine_sim = pd.DataFrame(cosine_sim, index=r_matrix.index, columns=r_matrix.index)

In [29]:
cosine_sim.head(10)

book_id      6         7         9     ...      4991      4995      4999
book_id                                ...
6        1.000000  0.000000  0.000000  ...  0.000000  0.000000  0.000000
7        0.000000  1.000000  0.811107  ...  0.000000  0.000000  0.000000
9        0.000000  0.811107  1.000000  ...  0.264906  0.000000  0.000000
21       0.000000  0.000000  0.000000  ...  0.074536  0.000000  0.000000
29       0.000000  0.000000  0.000000  ...  0.000000  0.417311  0.514496
43       0.000000  0.000000  0.000000  ...  0.000000  0.000000  0.000000
45       0.000000  1.000000  0.811107  ...  0.000000  0.000000  0.000000
47       0.000000  0.000000  0.000000  ...  0.000000  0.000000  0.000000
72       0.217491  0.000000  0.000000  ...  0.000000  0.000000  0.000000
74       0.000000  0.000000  0.000000  ...  0.000000  0.000000  0.000000

[10 rows x 657 columns]

In [30]:
#Item Based Collaborative Filter using Weighted Mean Ratings
(10, 6)
def cf_user_wmean(user_id, book_id):
  #Check if user exists in r_matrix
  if user_id in r_matrix:
    #Get the similarity scores for the book in question with every other book
    sim_scores = cosine_sim[book_id]
    #Get the book ratings for the user in question
    m_ratings = r_matrix[user_id]


    #Extract the indices containing NaN in the m_ratings series
    idx = m_ratings[m_ratings.isnull()].index
    #Drop the NaN values from the m_ratings Series
    m_ratings = m_ratings.dropna()
    m_ratings.reset_index()
    #Drop the corresponding cosine scores from the sim_scores series
    sim_scores = sim_scores.drop(idx)


    wmean_rating = np.dot(sim_scores, m_ratings)/ (sim_scores.sum()  + 0.000000001)
  else:
    #Default to a rating of 3.0 in the absence of any information
    wmean_rating = 3.0
  return wmean_rating

In [31]:
score(cf_user_wmean)

1.9027768256942574

# Testing

In [32]:
# item based
b_id = 862
u_id = 3461

In [33]:
ratings[(ratings['book_id'] == b_id) & (ratings['user_id'] == u_id)]

     index  book_id  user_id  user_rating
123    176      862     3461            3

In [34]:
# Predicts ratings for the user id equal to 3461 and book id equal to 862
cf_user_wmean(u_id, b_id)

2.6849896994941056

In [47]:
# Get all 5 rated books
tmp5 = X_test[X_test["user_rating"]==5]
tmp5

      index  book_id  user_id  user_rating
1405   1464     1209     3472            5
2126   2196      278     3480            5
1844   1913     4364     3482            5
1917   1986     3516     3483            5
152     205     1344     3471            5
...     ...      ...      ...          ...
945    1002       47      176            5
924     981     3393     3469            5
2054   2123      868     3479            5
2032   2101     4420     3291            5
1267   1326     3682     3471            5

[112 rows x 4 columns]

In [48]:
# Calculate the mean of predicted values for this models based on ratings rated 
# by users as 5
list = [] 
def avg_rating(cf_model):   
  id_pairs = zip(tmp5['user_id'], tmp5['book_id'])
  y_pred = np.array([cf_model(user, book) for (user, book) in id_pairs])   
  lst = list.append(y_pred)   
  return np.mean(list)

avg_rating(cf_user_wmean)

2.4392515300953836